.App{
  margin-bottom: 50px;
}

.sv_header__text{
  text-align: center;
}

.progress-text{
  text-align: center;
}

.navbar {
  margin-bottom: 0px !important;
  font-size: large !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recom_photos_container > * {
  display: flex;
  flex-wrap: wrap;
}

.Welcome_Page_Placeholder{
  text-align: center;
  font-size: x-large;
}
 .recom_pic_and_description > *{
  display:flex;
  flex-wrap: wrap;
}



.loadingDiv{
  text-align: center;
}

/*increase size of buttons*/
.sv_prev_btn, .sv_next_btn, .sv_complete_btn {
  height: 50px;
  font-size: larger;
}

/*
  Helps with responsive design.
  If horizontal screen size less than 900px, show elements vertically
*/
@media screen and (max-width: 900px) {
  .pic_and_description_container > :first-child{
    display: flex;
    flex-direction: column;
  }
  

  .description_text >h4{
    font-size: large;
  }

  
  .row{
    display:flex;
    flex-direction: column;
    height: 1500px;
  }

  .carousel-control-prev{
    rotate: 90deg;
    top: -95%;
    left: 40%;
    overflow: hidden;
  }


  .carousel-control-next{
    rotate: 90deg;
    top: 98%;
    right: 50%;
    width:15%;
    overflow: hidden;
  }

  .img-fluid{
    max-width: 200px;
    max-height: 250px;
  }

  .card{
    max-width: 200px;
  }
  
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
    border: 10px black;
  
  }
  
  .carousel-control-next-icon:hover{
    
    transform: scale(3.0)
  }
  .carousel-control-prev:hover{
    transform: scale(3.0)
  }
  .carousel-control-next-icon:hover{
    transform: scale(3.0)
  }
  .carousel-control-prev:hover{
    transform: scale(3.0)
  }





}

/*change row orientation on smaller screen sizes
.row{
  display:flex;
  flex-direction: column;
  height: 1500px;
}

.carousel-control-prev{
  rotate: 90deg;
  top: -95%;
  left: 40%;
  overflow: hidden !important;
}


.carousel-control-next{
  rotate: 90deg;
  top: 98%;
  right: 50%;
  width:15%;
  overflow: hidden !important;
}

.img-fluid{
  max-width: 200px;
  max-height: 250px;
}
.card{
  max-width: 200px;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
  border: 10px black;

}

.carousel-control-next-icon:hover{
  
  transform: scale(3.0)
}
.carousel-control-prev:hover{
  transform: scale(3.0)
}
.carousel-control-next-icon:hover{
  transform: scale(3.0)
}
.carousel-control-prev:hover{
  transform: scale(3.0)
}


*/

/*The instructions, purpose and contact info on welcome page*/
.instructions{
  text-align: left;
}


.carousel-control-prev, .carousel-control-next{
  width: 5%;
}

.carousel-caption{

  
  position: absolute;
  color: black;

  left:0;
  top:0;
  bottom:0;
  right:0;
  opacity:0%;
  z-index: -111;
  -webkit-transition: slide 1.5s forwards;
  -moz-transition: slide 1.5s forwards;
  -ms-transition: slide 1.5s forwards;
  -o-transition: slide 1.5s forwards;
  transition: slide 1.5s forwards;

}
.img-fluid:hover+.card{
  opacity: 100%;

}


.img-fluid:hover ~ .movieTitleReclist{
  opacity: 0%;

}
.img-fluid:hover ~ #movieTitleReclist{
  opacity: 0%;
}
.img-fluid:hover{
  opacity: 0%;
}

/*
.sv_qstn {
  text-align: center;
}
*/





/*limit the width so that the content is not too much stretched
  in ultrawide monitors
*/
@media screen and (min-width: 1920px) {
  .App{
    max-width: 1920px;
  }


}


.sv_image_image {
  text-align: center;
  height: 300px;
  max-height: 300px;
}
.pic_and_description_container > :first-child {
 display:flex;
 

}

.poster_container{
  display: flex;
}


.description_text{
  text-align: left !important;
}

.sv_next_btn{
  border-radius: 15px !important;
  background-color: blue !important;
}


.rec_panel_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;

}

/*The div which contains Don't know radio button and its label*/

#dontknow{
  margin:3px;
}

.dontKnowLabel{
  margin-left: 10%;

}

/*info card that shows when clicked on reclist poster*/


/*reclist image and text*/
.image_and_text{
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-start;
  max-width: 300px;
  height: 300px;
  width: 240px;
  
}



/*div cotnaining reclist images and title ,e.g. Recommendation List 1*/
.reclist_with_title{
  margin-top: 20px;
  margin-bottom: 20px;
}




/* Base setup
  from: https://codepen.io/anefzaoui/pen/NWPZzMa
*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 

