.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0px !important;
  font-size: large !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recom_photos_container > * {
  display: flex;
  flex-wrap: wrap;
}

.Welcome_Page_Placeholder{
  text-align: center;
  font-size: x-large;
}
 .recom_pic_and_description > *{
  display:flex;
  flex-wrap: wrap;
}


.pic_and_description_container > *{
 display:flex;

}


.description_text{
  text-align: left;
}

.sv_next_btn{
  border-radius: 15px !important;
  background-color: blue !important;
}

.rec_panel_container >*{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}






/* Base setup
  from: https://codepen.io/anefzaoui/pen/NWPZzMa
*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 

